{
    "http" : {
        "host" : "127.0.0.1",
        "port" : "8124"
    },
    "svn" : {
        "username" : "es_svn_sync",
        "password" : "A27G5LUv6mNsJqyU"
    },
    "env" : {
        "svn_root" : "/opt/svn", 
        "web_root" : "/opt/web"
    },
    "project" : {
        "project1" : {
            "name" : "project1",
            "description" : "test project1",
            "svn_url" : "svn://svn_url/project1/trunk",
            "shared" : "config.php setting/setting.php"
            },
        "project2" : {
            "name" : "project2",
            "description" : "test project2",
            "svn_url" : "svn://svn_url/project2/trunk",
            "shared" : "config.php setting/setting.php"
            },
        "ym" : {
            "name" : "ym",
            "description" : "test project2",
            "svn_url" : "svn://sms.eswine.com/test/boughs/ym",
            "shared" : "config.php 1.php"
            }


    }
}
